/* layout */

#playlistContainer {
    border: solid 1px lightblue;
    grid-column: span 6;

}


#content {
    box-sizing: border-box;
    background-color: #343434;
    border: solid 1px yellow;
    padding: 1.5rem 1.38vw;
    border-radius: 10px;
    display: flex;
    justify-content: top;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;


}

#playlistName {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    flex: 0 0 2.75rem

}

#btn {


}


@media only screen and (max-width: 600px) { /* developing at 375x812px */

    #playlistContainer {
        grid-column: 1 / span 4;
    }


}

#list{ /* remove all auto styles from ul */
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
}