/* Layout */

#searchBarComponentContainer {
    /*border: solid 1px yellow;*/
    grid-column: 8 / span 4;
    /*padding: 1.25rem 2.7vw;    */
    display: flex;
    align-items: center;
    
}

#content {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2.7vw;
    background: #121212;
    height: 12.5rem;
    border-radius: 8px;
    width: 100%; 
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
                0 0 10px 0 rgba(30, 215, 96, 0.6), /* Green glow */
                0 0 0 1px rgba(30, 215, 96, 0.1); /* Green border glow */
}







#h1 {
    box-sizing: border-box;
    margin: 0;
    /*border: solid 1px red;*/

    
}

#songSearch {
    box-sizing: border-box;
    background-color: #2c2c2c;
    border: none;
    padding: 10px 16px;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 16px;
    border-radius: 5px;
    outline: none;
    color: white;

}

#songSearch::placeholder {
    color: #808080;
}

#songSearch:focus {
    background-color: #3c3c3c;
}

#songSearch:-webkit-autofill,
#songSearch:-webkit-autofill:hover,
#songSearch:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #2c2c2c inset;
    transition: background-color 5000s ease-in-out 0s;
}

#button {
    border: none ;  
    padding: 10px 16px;
    height: 38px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1ed760;
    color: #000000;
    border-radius: 500px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

}

#button:hover {
    background-color: #1fdf64;
}

#button:active {
    background-color: #169c46;
}



@media only screen and (max-width: 600px) { /* developing at 375x812px */

    #searchBarComponentContainer {
        grid-column: 1 / span 4;

    }


}



