/* layout */

* {
  border: none !important;
}

/*-----APP------------*/
.App { /* top level container of header, main + footer */
 
  box-sizing: border-box;
  border: solid 1px red;
  background: hsl(0, 0%, 7%);
  color: white;

  

}




/*-----HEADER------------*/
#header {
  border: solid 1px red;
  height: 5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.38vw;
  padding: 1.25rem 6.94vw;
  justify-content: center;
  align-items: center;


  

}

#logo {
  width: 150px;
  height: auto;
 /*border: solid 1px yellow;*/
  grid-column: 6 / span 2;
  margin: 0 auto;
  overflow: hidden;
}




/*-----MAIN------------*/
#main{
  border: solid 1px red;
  padding: 0 6.94vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

 
}

#section1{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-template-rows: repeat(6, 1fr);*/
  grid-gap: 20px;
  border: solid 1px green;
  padding: 2.7vh 0;
  justify-content: center;
  flex: 0 0 40vh


}

#title {
  /*border: solid 1px pink;*/
  grid-column: span 6;
  padding: 1.25rem 2.7vw;
  display: grid;
  align-items: center;

  
}

#title h1 { 
  margin: 0;
  text-align: left;
  font-size: 40px;
  /*border: solid 1px white;*/
}

#title span {
  background: linear-gradient(90deg, #36cb23 0%, #77ff00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 

}

#section2{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  border: solid 1px green;
  padding: 2.7vh 0;
  justify-content: center;
  flex: 1 0 50vh


}



/*-----FOOTER------------*/
#footer {
  border: solid 1px red;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6.94;
  margin: 0px;
}



/*-----MOBILE------------*/
@media only screen and (max-width: 600px) { /* developing at 375x812px */

  .App {

  }

  #header {
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 0;
    gap: 0.5rem;
    padding: 0 4.2vw


  }

  #logo {
    width: 100px;
    height: auto;
    max-height: 4rem;
    grid-column: 2 / span 2;
    display: block;
    margin: 0 auto;

  }

  #main {
    padding: 0 4.2vw

  }

  #section1, #section2 {
    padding: 1rem 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    /*width: 100%;*/
  }

  #title {
    grid-column: 1 / span 4;
    width: 100%;
    padding: 1.25rem 0

  }

  #title h1 {
    text-align: center;
  }

  footer {
    padding: 0 4.2vw
  }


}