

#trackListContainer {
    border: solid 1px green;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


#content {
    border: solid 1px red;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}