/* layout */

#searchResultsContainer {
    border: solid 1px pink;
    grid-column: span 6;
    padding: 1.25rem 2.7vw;

}


@media only screen and (max-width: 600px) { /* developing at 375x812px */

    #searchResultsContainer {
        grid-column: 1 / span 4;
    }


}